/* Main colors Dark Theme */
/*
$backgroundColor: #4e4845;
$backgroundColorWhite: #424242;
$black: #ffffff;
$white: #000000;
$reviewsBgColor: #666254;
*/
/* Text colors Dark Theme */
/*
$mainColor: #e98e51;
$headerTextColor: #ffffff;
$headerTextSendActive: #000000;
$svgActive: #88654e;
$shadow: #000000;
*/
/* Main colors White Theme */

$backgroundColor: #f7e6df;
$backgroundColorWhite: #ffffff;
$black: #151515;
$white: #ffffff;
$reviewsBgColor: #dfd6a7;
$shadow: #151515;

/* Text colors White Theme */

$mainColor: #75492b;
$headerTextColor: #151515;
$headerTextSendActive: #ffffff;
$svgActive: #a1775a;

/* Text sizes */

/* Media sizes */
$mediaLG: "max-width: 900px";
$mediaMD: "max-width: 600px";

/* Defaul sizes*/
$maxWindowWidth: "1140px";
